div {
	text-align:justify;
	}
header #wrapper,
footer #wrapper{
    padding:0;
    width: 1024px;
    height:45px;
    line-height: 45px;
}
h1 {
    color:#333333;
    font-size:50px;
    text-align: center;
    font-family:'PT Sans', sans-serif;
}

a{ font-weight:bold;
}


h2 { text-align: center;
     text-align: center;
    font-family:'PT Sans', sans-serif;
    font-size:30px}

p  { 
    text-align: center;
    font-family:'PT Sans', sans-serif;
    font-size:15px}

header ul {
    padding: 30
         width:1044px;
    height:45px;
    line-height:45px;
    list-style:none;
}

header li {
    display:inline-block;
    border-radius: 10px;
    background-color:#333333;
    font-size:20px;  
}

header a {
    color:white;
    font-family:'PT Sans', sans-serif;
  margin: 150px;
  padding: 20px;
  font-size: large;
  text-align: center;
    text-decoration: none;
}

#wrapper {
    width: 1060px;
    background: #FFF;
    display:block;
    margin:70px;
    padding:20px;
    display:table;
    float:center;
}

#col {
    display: inline-block;
    float:left;    
}

#col.image {
    witdth:32%;
    margin-right:5%;
}

#col.image img {
    width:100%;
}

#col.logo {
     width:90px;
   height:100px;
   margin-top: inherit;
    margin-left:inherit;
    position:absolute;    
}

#col.txt {
    font-family:'PT Sans', sans-serif;
    color:#333333;
    width: 63%;
}
 
body{
    background-image:url(images/greyfloral.png);
        }
    
   ul {
    text-decoration:underline;
    font-family:'PT Sans', sans-serif;
       font-weight:bold;
}
    li{
    padding:0 0 20px;
    margin:0;
    font-size:15px;
    font-family:'PT Sans', sans-serif;
}

strong{
    font-size:40px;
}
main{
    max-width:800px;
}

footer{
    text-align: center;
}

    
